################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetCore_Applicatiom
/DotNetCore_Applicatiom.v12.suo
/CoreServices/bin
/CoreServices/obj
/CoreServices/Properties/PublishProfiles
/CoreServices/CoreServices.csproj.user
/DotNetCoreMVC
